* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff;
  color: rgb(0, 0, 0);
  -webkit-font-smoothing: antialiased;
  background-image: url(./pic/underConstruction.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: 40vw;
}

body,
input,
button {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}

/* img {
  height: 300px;
} */

/* @media screen and (max-width: 720px) {
  body {
    background-size: 100vw;
  }
} */
